html {
  font-family: sans-serif;
  background-color: #f1f5f9;
}

body {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  max-width: 80ch;
  line-height: 1.5;
}

html.dark {
  background-color: #160231;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  color: #ff02ef;
  font-size: 2.5rem;
}

footer {
  display: flex;
  margin-top: 2rem;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skill {
  color: #a351ff;
  font-weight: bold;
}

.social-link {
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  background-color: #a351ff;
}

.hamburger {
  cursor: pointer;
  padding-right: 20px;
}

.hamburger .line {
  width: 40px;
  height: 5px;
  display: block;
  margin-bottom: 10px;
  background-color: #a351ff;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #a351ff;
  display: none;
  margin: 0;
}

.nav-links a {
  padding: 5px 0;
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a351ff;
  border: solid 2px #a351ff;
}

.nav-links a:hover,
a:focus {
  color: #a351ff;
  background-color: white;
  border: solid 2px #a351ff;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    width: auto;
    display: block;
    position: static;
    background: none;
  }

  .nav-links a {
    padding: 10px 15px;
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  margin: 0.25em;
  font-size: 1.15em;
  padding: 0.5em 1em;
  background-color: #f8fcfd;
  border: dotted 1px #ff02ef;
}

.tag-link {
  color: #a351ff;
}

#themeToggle {
  border: 0;
  float: right;
  cursor: pointer;
  background: none;
}

.sun {
  fill: #a351ff;
}
.moon {
  fill: transparent;
}

.dark .sun {
  fill: transparent;
}
.dark .moon {
  fill: white;
}
